---
SPDX-License-Identifier: {{license_name}}
Spec-Parser-Version: {{__version__}}
hide:
  - toc
search:
  boost: 2
---

# {{name}}

{% if metadata.get("Instantiability", "") == "Abstract" %}
!!! abstract

    You can only instantiate its subclasses: .
{% endif %}

## Summary
{{summary}}

## Description
{{description}}

## Properties

  --8<-- "properties/_header.md"
  --8<-- "properties/{{namespace_name}}/{{name}}.md"
{%- if metadata.get("SubclassOf", "") != "" and "/" in metadata.get("SubclassOf", "") %}
  --8<-- "properties/{{metadata.get("SubclassOf", "")}}.md"
{% endif %}
{%- if metadata.get("SubclassOf", "") != "" and "/" not in metadata.get("SubclassOf", "") and metadata.get("SubclassOf", "") != "owl:Thing" %}
  --8<-- "properties/{{namespace_name}}/{{metadata.get("SubclassOf", "")}}.md"
{% endif %}
