---
SPDX-License-Identifier: {{license_name}}
Spec-Parser-Version: {{__version__}}
hide:
  - toc
search:
  boost: 2
---

# {{name}}

{% if metadata.get("Instantiability", "") == "Abstract" %}
!!! abstract

    You can only instantiate its subclasses: .
{% endif %}

## Summary
{{summary}}

## Description
{{description}}

## Properties

=== "{{name}}"
  Properties

{% if metadata.get("SubClassOf", "") != "" %}
=== "{{metadata.get("SubClassOf", "")}}"
  Super Class Properties
{% endif %}
