---
SPDX-License-Identifier: {{license_name}}
Spec-Parser-Version: {{__version__}}
hide:
  - toc
search:
  boost: 2
---

# {{name}}

{% if metadata.get("Instantiability", "") == "Abstract" %}
!!! abstract

    You can only instantiate its subclasses: .
{% endif %}

## Summary
{{summary}}

## Description
{{description}}

## Properties

=== "{{name}}"
{% 
    header_list = ["type", "minCount", "maxCount"]

    # print the header
    f.write("|" + "|".join(["property"] + header_list) + "|\n")
    f.write("|" + "---|" * (len(header_list) + 1) + "\n")

    for name, subprops in properties | dictsort %}
        |{{name}}
        {% for subprop in header_list %}
            |{{subprops.get(subprop, ["NA"]) | join(" ")}}
        {% endfor %}
        |
    {% endfor
%}

{% if metadata.get("SubClassOf", "") != "" %}
=== "{{metadata.get("SubClassOf", "")}}"

{% endif %}

