---
SPDX-License-Identifier: {{license_name}}
Spec-Parser-Version: {{__version__}}
---

# {{name}}

## Summary
{{summary}}

## Description
{{description}}

## Metadata
{% for name, vals in metadata | dictsort %}
    - {{name}}: {{vals | list | join(" ")}}
{% endfor %}

{% if args.get("gen_refs", False) %}
    ## References
    {% for name in spec.dataprop_refs.get(self.name, []) | sort %}
        - {{name}}
    {% endfor %}
{% endif %}
