---
SPDX-License-Identifier: {{license_name}}
Spec-Parser-Version: {{__version__}}
---

# {{name}}

## Summary
{{summary}}

## Description
{{description}}

## Metadata
{% for name, vals in metadata | dictsort %}
    - {{name}}: {{vals | list | join(" ")}}
{% endfor %}

## Entries
{% for name, val in entries | dictsort %}
    - {{name}}: {{val}}
{% endfor %}
