---
SPDX-License-Identifier: {{license_name}}
Spec-Parser-Version: {{__version__}}
---

# {{name}}

## Summary
{{summary}}

## Description
{{description}}

## Entries
| Value | Description |
| ----- | ----------- |
{% for name, val in entries | dictsort %}
| {{name}} | {{val}} |
{% endfor %}
