{% extends "page.md.j2" %}

{% block extra %}

## Properties

{% if True %}
| Property | Type | minCount | maxCount |
|---|---|---|---|
    {% for name, kv in properties | dictsort %}
| {{name}} | {{kv["type"]}} | {{kv["minCount"]}} | {{kv["maxCount"]}} |
    {% endfor %}
{% else %}
    {% for name, subprops in properties | dictsort %}
- {{name}}
        {% for _key, _val in subprops | dictsort %}
    - {{_key}}: {{_val}}
        {% endfor %}
    {% endfor %}
{% endif %}

{% endblock %}