{% extends "page.md.j2" %}

{% block extra %}

{% if False %}
    ## References
    {% for name in spec.dataprop_refs.get(self.name, []) | sort %}
        - {{name}}
    {% endfor %}
{% endif %}

{% endblock %}
