<!-- Auto generated markdown by Spec-parser v{{__version__}} -->

<!-- SPDX-License-Identifier: {{license_name}} -->

# {{name}}

## Summary
{{summary}}

## Description
{{description}}

## Metadata
{% for name, vals in metadata | dictsort %}
    - {{name}}: {{vals | list | join(" ")}}
{% endfor %}

{% if args.get("gen_refs", False) %}
    ## References
    {% for name in spec.dataprop_refs.get(self.name, []) | dictsort %}
        - {{name}}
    {% endfor %}
{% endif %}
