{% extends "page.md.j2" %}

{% block metadata %}

| | |
|---|---|
| Name | {{metadata["name"]}} |
| Instantiability | {{metadata["Instantiability"]}} |
{%if "SubclassOf" in metadata %}
| SubclassOf | {{type_link(metadata["SubclassOf"])}} |
{% endif %}

{% endblock %}

{% block extra %}

{% if properties %}
## Properties

| Property | Type | minCount | maxCount |
|---|---|:---:|:---:|
    {% for name, kv in properties | dictsort %}
| {{property_link(name)}} | {{type_link(kv["type"])}} | {{kv["minCount"]}} | {{kv["maxCount"]}} |
    {% endfor %}

{% endif %}

{% endblock %}