{% extends "page.md.j2" %}

{% block metadata %}

| | |
|---|---|
| **Name** | {{metadata["name"]}} |
| **Type** | {{type_link(metadata["type"])}} |
| **IRI** | `{{metadata["IRI"]}}` |

{% endblock %}

{% block extra %}{% endblock %}
