<!-- {{autogen_header}} -->
<!-- SPDX-License-Identifier: {{license}} -->

# {{name}}

## Summary

{{summary}}

## Description

{{description}}

## Metadata

`{{iri}}`

{% block metadata %}
{% endblock %}
{% block extra %}
{% endblock %}
