{% extends "page.md.j2" %}

{% block metadata %}

| | |
|---|---|
| Name | {{metadata["name"]}} |
| Nature | {{metadata["Nature"]}} |
| Range | {{type_link(metadata["Range"])}} |

{% endblock %}

{% block extra %}

{% if False %}
## References

    {% for name in spec.dataprop_refs.get(self.name, []) | sort %}
- {{name}}
    {% endfor %}
{% endif %}

{% endblock %}
