{% extends "page.md.j2" %}

{% block metadata %}

| | |
|---|---|
| **Name** | {{metadata["name"]}} |

{% endblock %}

{% block extra %}

#### Entries

{% for name, val in entries | dictsort %}
- {{name}}: {{val}}
{% endfor %}

{% endblock %}
